@media screen and (min-width: 300px) and (max-width: 1035px) {
  .container {
    max-width: 1035px;
    width: 100%;
    margin: 0 auto;
    padding-left: 17px;
    padding-right: 14px;
  }
  #nav-a {
    display: none;
  }
  .orderNow button {
    display: none;
  }
  nav {
    justify-content: center;
  }
  .massagerInfo p {
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    max-width: 215px;
  }
  .massagerInfo div {
    justify-content: start;
  }
  .massagerInfo div img {
    max-width: 100px;
    margin-top: -20px;
  }
  .massager {
    margin-top: 0;
    padding-top: 10px;
    align-items: flex-end;
  }
  .massager > img {
    transform: scale(1, -1);
  }
  .massagerImgDiv {
    position: static;
  }
  .massagerImgDiv img {
    height: 200px;
  }
  .massagerTxt p {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px;
    text-align: center;
  }
  .massagerResp {
    background-color: #f5fdff;
  }
  .massageTypes {
    background-color: transparent;
    border: none;
  }
  .type ul {
    display: none;
  }
  .type span {
    text-align: center;
  }
  .buyAndReviewWrapper {
    flex-direction: column;
  }
  #p-button--positive {
    margin: 16px auto;
  }
  .tipWrapper {
    flex-direction: column;
  }
  .tipWrapper span {
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    margin-top: 7px;
  }
  .tipWrapper:last-child {
    display: none;
  }
  #hidden {
    display: flex;
  }
  .hiddenResp {
    display: none;
  }
  .cardAndImgWrapper {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-top: 41px;
    width: unset;
  }
  .card > img {
    margin-top: 27px;
  }
  .slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  .slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
  }
  .slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
  }
  .slides-container {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  #slides-container {
    max-height: 484px;
  }
  .FAQTitle {
    text-align: center;
  }
  .FAQTitleImgDiv {
    justify-content: center;
  }
  .FAQAndImgWrapper {
    flex-direction: column;
  }
  .FAQImgDiv {
    width: 100%;
    padding-bottom: 26px;
  }
  .FAQImgDiv img {
    width: 100%;
  }
  .seeAllFAQ {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .p-pagination__items {
    display: flex;
    justify-content: center;
  }
  .p-pagination__link,
  [aria-current="page"].p-pagination__link {
    background-color: #cbced6;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    margin-bottom: 0;
  }
  .is-active.p-pagination__link,
  .p-pagination__link:hover {
    background-color: blue;
  } */

  .paginationWrapper {
    margin-bottom: 14px;
    justify-content: center;
  }
  .pagination {
    width: 14px;
    height: 14px;
    background-color: #cbced6;
    border-radius: 100%;
    margin-left: 10px;
  }
  .pagination:first-child {
    margin-left: 0;
  }
  .pagination:hover,
  .isActive {
    background: #197aff;
  }
}
