/* Global Styles */
body {
  font-family: "Mont ExtraLight DEMO";
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.marginAuto {
  margin: 0 auto;
}
.flex {
  display: flex;
}
.spaceBtw {
  justify-content: space-between;
}
/* Promo Styles */
.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  background-color: #11346f;
}
.promo span {
  color: #ffffff;
  font-family: "Mont Heavy DEMO";
}
.promo span:nth-child(2) {
  margin-left: 20px;
}
/* Naviagation Styles */
.nav-wrapper {
  background-color: #f5fdffcc;
  box-shadow: 0px 2px 4px 0px #0000000f;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
}
#nav-a a {
  margin-left: 60px;
  color: #4b6693;
  text-decoration: none;
}
#nav-a a:hover {
  color: #11346f;
  font-family: "Mont Heavy DEMO";
}
.p-button--positive.is-dark {
  background-color: #197aff;
  margin-bottom: 0;
  border-radius: 60px;
  padding: 11px 38px;
  border: none;
  font-size: 14px;
  font-family: "Mont Heavy DEMO";
  text-transform: uppercase;
}
.p-button--positive.is-dark:hover {
  background-color: #197aff;
}
/*Massager Info Section Styles */
.massagerInfo {
  display: flex;
  flex-direction: column;

  max-width: 935px;
  margin-right: 0;
}
.massagerInfo p {
  font-family: "Mont Heavy DEMO";
  color: #213786;
  font-size: 42px;
  margin-right: 8px;
  margin-bottom: 0;
}
.massagerInfo div {
  display: flex;
  justify-content: end;
  margin-top: 15px;
}
.massager {
  display: flex;
  align-items: flex-end;
  margin-top: 63px;
}
.massagerTxt {
  font-weight: 600;
  font-size: 18px;
  color: #262626;
}
.massageTypes {
  display: flex;
  align-items: center;
  max-width: 720px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f3f6fb;
  border: 1px solid #aeccff80;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.type {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.type ul {
  margin-left: 15px;
  margin-bottom: 15px;
  padding-left: 0;
}
.type ul li {
  list-style: disc;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #262626;
}
.type span {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 20px;
  font-family: "Mont Heavy DEMO";
  color: #11346f;
}
.border {
  width: 1px;
  height: 117px;
  background-color: #cee2ff;
  margin: 0 15px;
}
.typesAndPicWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buyWrapper {
  max-width: 400px;
}
.getNow {
  padding: 19px 58px;
  background: #197aff;
  border-radius: 60px;
  border: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.getNow:hover {
  background: #197aff;
}
#p-button--positive {
  margin-right: unset;
  margin: 0 auto;
}
#p-button--positive span {
  color: #197aff;
}
.bundles {
  display: flex;
  padding: 10px 28px;
  gap: 10px;
  background: rgba(77, 145, 207, 0.15);
  box-shadow: 0px 0px 14px #ffffff;
  border-radius: 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  border: none;
}
.bundles:hover {
  background: rgba(77, 145, 207, 0.15);
}
.buyAndReviewWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review {
  background: rgba(234, 242, 255, 0.1);
  border: 1px solid rgba(174, 204, 255, 0.5);
  border-radius: 110px;
  padding: 8px 11px;
  max-width: 400px;
}
.review div p {
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #000000;

  margin-bottom: 5px;
}
.reviewPoints {
  padding-left: 10px;
}
.buyerInfo {
  align-items: center;
}
.buyerInfo > span {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #787979;
  margin-left: 5px;
  margin-right: 32px;
}
.verified {
  display: flex;
  align-items: center;
}
.verified span {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #787979;
  margin-left: 5px;
}
/* Cards Section Styles */
.cardsTipsWrapper {
  margin-top: 34px;
  padding: 24px 0;
  background: #11346f;
  backdrop-filter: blur(2px);
}
.tipWrapper {
  align-items: center;
}
.tip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #ffffff;
  margin-right: 15px;
}
.tipWrapper span {
  font-weight: 800;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
.cardsWrapper {
  background: linear-gradient(118.72deg, #aeccff -18.14%, #197aff 165.34%);
}
